{{!
Це код container файлу для index сторінки,
в якому міститься код, котрий буде віддаватися по шляху (PATH) - "/"
}}

<main>
    <nav class="nav">
        <button class="nav__button" id="back">
            <img src="/svg/back_arrow.svg" alt="Back"></button>
        <button class="nav__button" id="forward">
            <img src="/svg/forward_arrow.svg" alt="Forward"></button>
        <button class="nav__button" id="forward" id="reload">
            <img src="/svg/renewal.svg" alt="Renewal"></button>
        <button class="nav__button" id="forward" id="home">
            <img src="/svg/home_page.svg" alt="Home"></button>

        <input type="text" class="nav__input" id="input" />

        <button class="nav__button" id="go">
            <img src="/svg/field_value.svg" alt="Go to input">
        </button>
    </nav>
</main>

{{!
Цей код містить лише те, що буде виводитись в

<body>
    Адже наш layout/default.hbs має вже структуру HTML
    }}